@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Lato|Roboto");
.container {
  width: 960px;
  margin: 0 auto; }

.col6 {
  width: 50%;
  float: left; }

.text-center {
  text-align: center; }

h1 {
  color: #3498db;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 300; }

body {
  font-family: "Lato", sans-serif; }

.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%; }

.btn-azul {
  background-color: #3498db;
  color: #FFF;
  border: 1px solid #3498db;
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear; }

.btn-azul:hover {
  background-color: transparent;
  color: #3498db;
  border-color: #3498db; }

/*# sourceMappingURL=main.css.map */
