@import font
@import mixins 

$azul: #3498db
$blanca: #FFF
$gris: #cecece

.container
  width: 960px
  margin: 0 auto

.col6
  width: 50%
  float: left

.text-center
  text-align: center

h1
  color: $azul
  font:
    family: $roboto
    size: 3rem
    weight: 300

body 
  font-family: $lato

.circle
  +rounded(50%)

.btn-azul
  background-color: $azul
  color: $blanca
  border: 1px solid $azul
  display: block
  box-sizing: border-box
  padding: 10px 20px
  +transicion(all .3s linear)

.btn-azul:hover
  background-color: transparent
  color: $azul
  border-color: $azul
  