=rounded($valor)
  border-radius: $valor
  -webkit-border-radius: $valor
  -moz-border-radius: $valor
  -o-border-radius: $valor
  -ms-border-radius: $valor

=transicion($trans)
  transition: $trans
  -webkit-transition: $trans
  -moz-transition: $trans
  -o-transition: $trans
  -ms-transition: $trans 
  
    